<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brother.sdk.lmprinter"
    android:versionCode="481"
    android:versionName="4.6.4" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32" />

</manifest>